@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #44affc;
}
.wrapper{
    width: 400px;
    border-radius: 7px;
    background-color: #fff;
}
.wrapper header{
    color: #44affc;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 16px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #bfbfbf;
}
.wrapper.active header i{
    font-size: 1.8rem;
    margin-left: 5px;
}
header i{
    cursor: pointer;
    margin-right: 8px;
    font-size: 0;
}
.wrapper .input-part{
    margin: 25px 25px 30px;
}
.wrapper.active .input-part{
    display: none;

}
.input-part :where(input, button){
    width: 100%;
    outline: none;
    border: none;
    height: 55px;
    border-radius: 7px;
    font-size: 1rem;
}
.input-part input{
    border: 1px solid #bfbfbf;
    text-align: center;
}
.input-part input:is(:focus, :valid){
    border: 2px solid #43affc;
}
.input-part .seprator{
    height: 1px;
    width: 100%;
    background-color: #ccc;
    margin: 25px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.seprator::before{
    content: "or";
    color: #ccc;
    font-size: 1rem;
    padding: 0 15px;
    background: #fff;

}
.input-part button{
    color: #fff;
    background-color: #44affc;
    cursor: pointer;
}
.input-part .info-txt{
    display: none;
    text-align: center;
    padding: 12px;
    font-size: 1rem;
    border-radius: 7px;
    margin-bottom: 15px;
}
.info-txt.error{
    display: block;
    color: #721c24;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
}
.info-txt.pending{
    display: block;
    color: #0c5460;
    background: #d1ecf1;
    border: 1px solid #bee5eb;
}
.wrapper .weather-part{
    margin: 2rem 0 0;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.wrapper.active .weather-part{
    display: flex;
}
.weather-part img{
    max-width: 125px;
}
.weather-part .temp{
    font-size: 5rem;
    font-weight: 500;
    display: flex;
}
.weather-part .temp .numb{
    font-weight: 600;

}
.weather-part .temp .deg{
    font-size: 3rem;
    margin: 10px 5px 0 0;
    display: block;
}
.weather-part .location{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.location i{
    font-size: 1.5rem;
    margin-right: 5px;
}
.weather-part .bottom-details{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #bfbfbf;
}
.bottom-details .column{
    width: 100%;
    display: flex;
    padding: 15px 0;
    align-items: center;
    justify-content: center;
}
.column i{
    font-size: 2rem;
    color: #43affc;
}
.column.humidity{
    border-left: 1px solid #bfbfbf;
}
.details .temp,.humidity span{
    font-size: 1rem;
    font-weight: 500;
    margin-top: -3px;
}
.details .temp .deg{
    margin: 0;
    font-size: 1rem;
    pad: 0 2;
}
.details p{
    font-size: 14px;
    margin-top: -6px;
}